.burger {
    position: fixed;
    width: 2rem;
    height: 2rem;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
}
